
.category-list{
    padding: 0px 10px;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;   
    gap: 5px;
}

.nav-link{
    color: white;
    font-size: 18px;
    padding: 10px;   
}

.active-link{
    color: var(--main-color);
    background-color: var(--color-transp);
    border-radius: 2px;
    padding: 5px;
}